:root {
    --main-font: 'IBM Plex Sans', sans-serif;
    --main-color: rgba(11, 11, 11, 1);
    --secundary-color: rgba(241, 241, 241, 1);
    --third-color: rgba(227, 226, 226, 1);
}

* {
    font-family: var(--main-font);
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
    background-color: var(--secundary-color);
}

header {
    z-index: 999;
    position: absolute;
    width: 96vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
}

.menuImgIcon {
    cursor: pointer;
}

/* ================================ MENU LATERAL ================================= */

@keyframes menuTransitionIn {
    0% {
        left: -1100px;
    }

    100% {
        left: 0px;
    }
}

@keyframes menuTransitionOut {
    0% {
        left: 0px;
    }

    100% {
        left: -1100px;
    }
}

/* Menu lateral */
.menu-container {
    display: none;
}

/* Classes para abrir o menu lateral */
.openMenu {
    animation: menuTransitionIn 0.5s ease-in-out;
    display: flex;
    z-index: 1000;
    position: fixed;
    left: 0;
    justify-content: start;
    flex-direction: column;
    height: 100vh;
    width: 58vw;
    background-color: var(--secundary-color);
    border-radius: 0px 24px 24px 0px;
}

/* Classe para fechar o menu lateral */
.closeMenu {
    animation: menuTransitionOut 0.5s ease-in-out;
    display: flex;
    z-index: 1000;
    position: fixed;
    justify-content: start;
    flex-direction: column;
    height: 100vh;
    width: 58vw;
    right: 100%;
    background-color: var(--secundary-color);
    border-radius: 0px 24px 24px 0px;
}

/* Menu header */
.nav-menu {
    z-index: 999;
    display: flex;
    justify-content: start;
    padding: 30px;
}

/* Icone do menu */
.menuImgIconBlack {
    cursor: pointer;
}

/* Texto de boas vindas no menu */
.menu-container>h1 {
    margin-left: 5%;
    margin-top: 4%;
    margin-bottom: 3%;
    font-size: 40px;
    color: var(--main-color);
    font-weight: 600;
}

/* Fundo do slider de carros */
.backgroundSlider {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5%;
    height: 240px;
    width: 88%;
    background-color: rgba(195, 195, 195, 1);
    border-radius: 28px;
    padding: 3px;
}

.selectedBackground {
    transition: 0.5s;
    display: flex;
    width: 330px;
    height: 228px;
    border-radius: 37px;
    background-color: rgba(137, 137, 137, 0.267);
}

/* Botoes de controle do slider */
#MinusSlider,
#PlusSlider {
    transition: 0.7s;
    z-index: 1000;
    position: absolute;
    top: 425px;
    height: 32px;
    width: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 14px;
    background-color: var(--secundary-color);
    cursor: pointer;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
}

#MinusSlider:hover,
#PlusSlider:hover {
    background-color: rgb(19, 19, 19);
    transition: 0.7s;
}

#MinusSlider {
    left: 6.8%;
}

#PlusSlider {
    left: 88.7%;
}

.modelsMenu {
    display: none;
}

/* Div com todos os carros do slider */
.car-slider {
    position: absolute;
    top: 240px;
    left: 2%;
    display: flex;
    align-items: center;
    gap: 40px;
    max-width: 55.5vw;
    overflow-x: hidden;
}

/* Classe para o carro selecionado no slider */
.selectedCar {
    transition: 0.5s;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    width: 330px;
    height: 228px;
}

.logoCar {
    opacity: 0;
    position: relative;
    bottom: 7%;
    left: 38%;
}

/* Div que define o meio de todos os carros*/
.fuel {
    opacity: 0;
    position: relative;
    top: 4%;
    left: 38%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 55px;
    height: 20px;
    background-color: rgba(43, 43, 43, 1);
    border-radius: 4px;
    color: white;
    font-size: 10px;
    font-weight: 400;
}

.buyVehicle-container {
    display: flex;
    justify-content: end;
    align-items: center;
    width: 100%;
    margin-top: 15px;
}

.buyVehicle {
    transition: 0.5s;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 222px;
    height: 50px;
    background-color: rgba(195, 195, 195, 1);
    border: none;
    border-radius: 9px;
    margin-right: 7%;
    cursor: pointer;
}

.buyVehicle:hover {
    transition: 0.5s;
    background-color: rgb(221, 221, 221);
}

.buyVehicle>img {
    height: 14px;
}

.section-options {
    display: flex;
    justify-content: start;
    align-items: end;
    margin-left: 5%;
}

.options-container {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-top: 5%;
}

.option-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 20vw;
    padding: 10px;
    background-color: transparent;
    border: none;
    border-radius: 12px;
    cursor: pointer;
}

.option-item:hover {
    transition: 0.5s;
    background-color: rgb(221, 221, 221);
}

.option-item>p {
    font-size: 20px;
    font-weight: 500;
}

.account {
    margin-left: 16.8%;
}

.accountPfp {
    display: flex;
    align-items: end;
    gap: 10px;
    font-size: 20px;
    font-weight: 500;
}

/* ================================ PRIMEIRA SEÇÃO ================================= */

/* Container principal */
.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: var(--main-color);
}

/* Luz de fundo (circular) */
.lightCircle {
    z-index: 1;
    position: absolute;
    width: 602px;
    height: 602px;
    border-radius: 100%;
    background: #D7D3D3;
    opacity: 7%;
    box-shadow: 0px 0px 97.7px 87px #D7D3D3;
}

/* Texto a esquerda */
.textMainLeft {
    font-size: 14px;
    color: white;
    font-weight: 500;
    min-width: 50px;
    max-width: 500px;
    margin-bottom: 290px;
}

/* Botão Saiba Mais */
.learnMoreMainButton {
    transition: 0.3s;
    width: 140px;
    height: 55px;
    margin-top: 20px;
    background-color: transparent;
    border: 1px solid rgba(45, 45, 45, 1);
    border-radius: 16px;
    color: white;
    cursor: pointer;
}

/* Botão Saiba Mais - Hover */
.learnMoreMainButton:hover {
    background-color: rgba(45, 45, 45, 1);
    transition: 0.3s;
}

/* Texto Macan Porsche */
.carMainTextImage {
    z-index: 1;
    position: absolute;
    top: 70%;
    width: 60%;
    height: auto;
}

/* Texto a direita */
.textMainRight {
    font-size: 14px;
    color: white;
    font-weight: 500;
    min-width: 50px;
    max-width: 500px;
    margin-top: 100px;
}

/* Carro Macan Porsche */
.carMainImage {
    z-index: 999;
    width: 39%;
    height: auto;
    margin: 20px;
}

/* Div da seta e também da estilização dela */
.downMain {
    transition: 1s;
    opacity: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    height: 57px;
    width: 57px;
    border: 1px solid rgba(45, 45, 45, 1);
    border-radius: 15px;
    bottom: 20px;
}

/* Animação para a seta */
@keyframes setDown {
    0% {
        top: -5px;
    }

    25% {
        top: 5px;
    }

    50% {
        top: -5px;
    }

    100% {
        top: 5px;
    }
}

/* Adicionando animação à seta */
.downMain>img {
    /* Coloquei position relative, pois no modo static a animação não funciona por conta de nao ter um referencia de posição definida como top, bottom, etc. */
    position: relative;
    animation: setDown 2s ease-in-out infinite alternate;
}

/* Classe para esconder a seta */
.hidenDownMain {
    transition: 1s;
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    height: 57px;
    width: 57px;
    border: 1px solid rgba(45, 45, 45, 1);
    border-radius: 15px;
    bottom: 20px;
}

/* ================================ SEGUNDA SEÇÃO ================================= */

.second-container {
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100vw;
    background-color: var(--secundary-color);
    padding-top: 4.7%;
}

.mainBanner {
    background-image: url("imgs/backgroundMainBanner.png");
    background-repeat: no-repeat;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    height: 24vh;
    width: 85%;
    border-radius: 41px;
}

.mainBanner>img {
    position: relative;
    left: 6%;
    height: auto;
    width: 45%;
}

.mainBanner>p {
    font-size: 4vh;
    color: var(--secundary-color);
    width: 250px;
    font-weight: 600;
    margin-left: 50px;
}

.mainBanner>p>span {
    font-style: italic;
    text-shadow: inset 0 3px 3px black;
}

.infosMainBanner {
    display: grid;
    gap: 5%;
    grid-template-columns: repeat(3, 1fr);
    align-items: end;
    align-self: start;
    margin-left: 7.5%;
    height: 280px;
}

.infositem-charger,
.infositem-cayenne,
.infositem-new911 {
    cursor: pointer;
}

.infositem-charger {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 13.8vw;
    min-width: 156px;
}

.chargerBackground {
    transition: 0.5s;
    behavior: smooth;
    z-index: 1;
    height: 90px;
    width: 100%;
    border-radius: 5px;
    object-fit: cover;
    object-position: bottom;
}

.chargerOver {
    z-index: 2;
    position: relative;
    width: 100%;
    min-width: 135px;
    height: auto;
    margin-top: -75%;
    pointer-events: none;
}

.chargerBackground:hover {
    transition: 0.5s;
    height: 20vh;
}

.infositem-new911 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 13.8vw;
    min-width: 156px;
}

.new911Background {
    transition: 0.5s;
    behavior: smooth;
    z-index: 1;
    height: 90px;
    width: 100%;
    border-radius: 5px;
    object-fit: cover;
    object-position: bottom;
}

.new911Over {
    z-index: 2;
    margin-top: -75%;
    width: 100%;
    min-width: 135px;
    height: auto;
    pointer-events: none;
}

.new911Background:hover {
    transition: 0.5s;
    behavior: smooth;
    height: 190px;
}

.infositem-cayenne {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 13.8vw;
    min-width: 156px;
}

.cayenneBackground {
    transition: 0.5s;
    behavior: smooth;
    z-index: 1;
    height: 90px;
    width: 100%;
    border-radius: 5px;
    object-fit: cover;
    object-position: bottom;
}

.cayenneOver {
    z-index: 2;
    margin-top: -75%;
    width: 100%;
    height: auto;
    pointer-events: none;
}

.cayenneBackground:hover {
    transition: 0.5s;
    behavior: smooth;
    height: 190px;
}

.direction-link {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 4%;
}

.textLearnMore {
    font-size: 32px;
    color: var(--main-color);
    font-weight: 400;
    font-style: italic;
    width: 55vw;
    margin-right: 31vw;
    padding: 60px;
}

/* slider de informações dos carros */

.infoCar-sliders {
    display: grid;
    justify-items: center;
    align-self: center;
    grid-template-columns: 1fr;
    gap: 20px;
    width: 90vw;
}

.selectInfo-slider {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--third-color);
    height: 60px;
    width: 95%;
    border-radius: 18px;
    padding-left: 15px;
    padding-right: 15px;
}

#sliderInfoR,
#sliderInfoL {
    transition: 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

#sliderInfoR:hover,
#sliderInfoL:hover {
    transition: 0.5s;
    transform: scale(125%);
}

#sliderInfoL>img {
    transition: 0.5s;
    transform: rotate(180deg);
}

.optionInfo-item {
    transition: 0.5s;
    fill: var(--main-color);
    opacity: 0.3;
    height: 30%;
    width: auto;
}

.selectedOptionInfo {
    transition: 0.5s;
    background-color: var(--main-color);
    padding: 0.9%;
    border-radius: 13px;
    fill: var(--secundary-color);
    opacity: 1;
    height: 40%;
    width: auto;
}

.infoCar {
    background-color: var(--third-color);
    height: 625px;
    width: 100%;
    border-radius: 16px;
    overflow: hidden;
}

.sliderInfo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 625px;
    width: 300%;
}

.infoCar-item {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding-bottom: 2%;
    width: 100%;
}

.demonstrateCar {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    width: 50%;
}

.infoCar-carFront {
    z-index: 2;
    margin-bottom: -40.3%;
    width: 100%;
    height: auto;
    min-width: 350px;
}

.fixCarFront718 {
    margin-bottom: -42.3%;
}

.infoCar-background {
    z-index: 1;
    width: 90%;
    height: 26.5vh;
    min-width: 100px;
    object-fit: cover;
    object-position: top;
    border-radius: 15px;
}

.buttons-demonstrate {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin-top: 3vh;
}

.playButton {
    opacity: 0.3;
    z-index: 3;
    transition: 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2.8vw;
    height: 5vh;
    min-width: 50px;
    min-height: 3vh;
    background-color: transparent;
    border-radius: 15%;
    border: 1px solid var(--main-color);
    cursor: pointer;
}

.fuelInfo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10vw;
    height: 3vh;
    background-color: rgba(43, 43, 43, 1);
    border-radius: 4px;
    color: white;
    font-size: 12px;
    font-weight: 400;
}

.aboutInfoCar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    width: 50%;
    gap: 20px;
    margin-right: 3%;
}

.aboutInfoCar>img {
    width: 4vw;
    min-width: 50px;
    height: auto;
}

.aboutInfoCar>p {
    text-align: right;
}

.aboutInfoCar>button {
    transition: 0.3s;
    width: 140px;
    height: 55px;
    background-color: transparent;
    border: 1px solid var(--main-color);
    border-radius: 16px;
    color: var(--main-color);
    cursor: pointer;
}

.aboutInfoCar>button:hover {
    background-color: var(--main-color);
    color: var(--secundary-color);
}

.textInfo-slider {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--main-color);
    height: 80%;
    width: 95%;
    border-radius: 16px;
    color: var(--secundary-color);
    padding: 15px;
}

.selectedCarInfo {
    display: flex;
}

.findYourPorsche {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 8%;
    gap: 20px;
}

.imgFindPorsche {
    width: 95vw;
    height: auto;
    max-height: 60vh;
    object-fit: cover;
    object-position: center;
    border-radius: 1vw;
}

.textFindPorsche {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titleFindPorsche {
    font-size: 4vh;
    color: var(--main-color);
    font-weight: 400;
    text-align: center;
}

.titleFindPorsche>b {
    font-style: italic;
}

.subtitleFindPorsche {
    font-size: 1.8vh;
    color: rgb(95, 95, 95);
    font-weight: 400;
    max-width: 70vw;
    text-align: center;
}

.searchCity {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2%;
}

.findPorscheInput {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 50vw;
    min-width: 330px;
    height: 3.2vh;
    font-size: medium;
    font-weight: 400;
    background-color: var(--secundary-color);
    border: 1px solid var(--main-color);
    border-radius: 0.5vw;
    padding: 1%;
    padding-right: 5%;
}

.searchCityButton {
    position: absolute;
    left: 72.5vw;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.news-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
    padding-bottom: 8%;
}

.news-container>h1 {
    font-size: 4vh;
    color: var(--main-color);
    font-weight: 500;
    margin-bottom: 6%;
}

.imgsNews {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.backgroundNews {
    width: 80vw;
    height: 195px;
    object-fit: cover;
    object-position: 50% 25%;
    border-radius: 0.5vw;
}

.frontCarNews {
    margin-top: -20%;
    width: 50%;
}

.featuredNews {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    justify-content: space-between;
}

.featuredNewsRSide{
    display: flex;
    flex-direction: column;
    align-items: end;
}

.featuredNews-item {
    transition: 0.5s;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 48%;
    height: 50px;
    min-width: 300px;
    padding: 5px;
    border-radius: 10px;
    margin-top: 1%;
}

.featuredNews-item:hover {
    background-color: var(--third-color);
    transition: 0.5s;
    cursor: pointer;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--secundary-color);
    padding-bottom: 20px;
}

.interconnection-footer{
    position: absolute;
    left: 0px;
    background-color: var(--main-color);
    width: 0.7%;
    height: 30vh;
}

.footer-container{
    background-color: var(--main-color);
    width: 98vw;
    height: auto;
    padding: 4% 3% 3% 4%;
    border-radius: 20px;
}

.footer-content{
    display: grid;
    grid-template-areas: 
    "contact topics"
    "copyright regions"
    ;
    grid-template-columns: 85% auto;
}

.contactMethods{
    grid-area: contact;
}

.contact-item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: var(--secundary-color);
}

.contact-item > h1{
    font-size: 1.7vw;
    font-weight: 500;
}

.contact-item > p{
    font-size: 0.85vw;
}

.contact-item > button{
    transition: 0.5s;
    width: 20%;
    height: 4.5vh;
    background-color: var(--secundary-color);
    color: var(--main-color);
    border: none;
    border-radius: 5px;
    font-weight: 500;
    cursor: pointer;
    margin-top: 1%;
}

.contact-item > button:hover{
    transition: 0.5s;
    background-color: var(--third-color);
}

.socialMidia{
    margin-top: 4%;
    color: var(--secundary-color);
}

.socialMidia > h1{
    font-size: 1.7vw;
    font-weight: 500;
}

.socialMidia > p {
    font-size: 0.85vw;
}

.socialLogos{
    display: flex;
    align-items: center;
    gap: 15px;
    margin-top: 0.8%;
}

.socialLogos > img{
    cursor: pointer;
}

.topics-container{
    grid-area: topics;
}

.topic{
    color: var(--secundary-color);
}

.topic > h1{
    font-size: 1.7vw;
    font-weight: 500;
}

.topics-items{
    transition: 0.5s;
    font-size: 0.85vw;
    color: rgb(82, 82, 82);
    cursor: pointer;
}

.topics-items:hover{
    transition: 0.5s;
    color: var(--third-color);
}

.copyright{
    grid-area: copyright;
    margin-top: 6%;
}

.copyright > p{
    color: var(--secundary-color);
    font-size: 0.8vw;
    font-weight: 300;
    max-width: 1300px;
}

.region-footer{
    grid-area: regions;
    color: var(--secundary-color);
    margin-top: 25%;
}

.region-footer > h3{
    font-size: 1vw;
    font-weight: 500;
}

.region-footer > a{
    color: var(--secundary-color);
    font-size: 0.7vw;
}

.logo-footer{
    width: 100%;
    height: auto;
    margin-top: 12%;
}


/* ================================ PARTE RESPONSIVA ================================= */

/* Ajuste na parte responsiva do featured news quanto no PC quanto no Celular */

@media (max-width: 990px) {
    .featuredNews {
        grid-template-columns: 1fr;
        justify-items: center;
    }
}

@media (max-height: 950px) and (max-width: 500px) {

    header {
        z-index: 999;
        position: absolute;
        width: 80vw;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 30px;
    }

    header>img {
        height: 1.5vh;
    }

    .nav-menu {
        padding: 30px 0 30px 0;
    }

    .menu-container {
        padding-left: 4%;
    }

    .menu-container>h1 {
        margin-left: 0;
        font-size: 25px;
    }

    .menuImgIconBlack {
        height: 20px;
    }

    .openMenu {
        width: 90%;
    }

    .closeMenu {
        width: 90%;
    }

    .backgroundSlider {
        display: none;
    }

    .selectedBackground {
        display: none;
    }

    .car-slider {
        display: none;
    }

    #MinusSlider,
    #PlusSlider {
        display: none;
    }

    .buyVehicle {
        display: none;
    }

    .options-container {
        margin-top: 25px;
        gap: 2px;
    }

    .modelsMenu {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20%;
        padding: 10px;
        height: 15%;
        width: 90%;
        background-color: rgba(195, 195, 195, 1);
        border-radius: 10px;
        margin-top: 35px;
    }

    .modelsMenu>button {
        width: 70%;
        height: 30%;
        border: none;
        border-radius: 5px;
        background-color: var(--secundary-color);
    }

    .carModels {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
    }

    .carModels>img {
        height: 7.8vw;
    }


    .section-options {
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;
        margin-left: 0;
    }

    .option-item {
        width: 275px;
        padding: 10px;
        border-radius: 12px;
    }

    .option-item>p {
        font-size: 15px;
    }

    .account {
        margin-left: 0;
        margin-top: 70px;
    }

    .accountPfp>img {
        height: 20px;
    }

    .accountPfp>p {
        font-size: 15px;
    }

    /* Personalização responsiva do main */
    .main-container {
        flex-direction: column;
        height: 100vh;
    }

    .lightCircle {
        height: 300px;
        width: 300px;
    }

    .textMainLeft {
        display: none;
    }

    .learnMoreMainButton {
        display: none;
    }

    .carMainTextImage {
        height: 5.5%;
        width: auto;
        top: 58vh;
    }

    .textMainRight {
        font-size: 6px;
        min-width: 83.3%;
        max-width: 83.3%;
        text-align: center;
        margin-top: 10%;
    }

    .carMainImage {
        margin-top: 8%;
        height: 30%;
        width: auto;
    }


    .downMain {
        top: 85%;
    }

    .hidenDownMain {
        top: 85%;
    }

    .second-container {}
}